@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #221e22;
}

h1,
h2,
p,
a {
    color: lightgray;
}

h1 {
    font-size: 5em;
    font-weight: 700;
}

h2 {
    font-size: .9em;
    font-weight: 400;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}

input {
    color: white;
    font-weight: 600;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: x-large;
    background: black;
}

input::selection {
    background: black;
}

th,
td {
    border-bottom: 1px solid lightgray;
    text-align: center;
    list-style-type: none;
    color: lightgray;
    text-transform: uppercase;
    width: 100px;
}

.nav {
    display: flex;
    height: 2em;
    background: #212121;
    box-shadow: 6px 6px 12px #0d0d0d,
        -6px -6px 12px #353535;
}

.nav .link {
    margin-left: 1em;
    padding: .5em;
    text-decoration: none;
    color: lightgray;
}

.section {
    display: none;
    margin: 2em auto;
    padding: 1em;
    justify-content: center;
    height: 85vh;
    max-width: 750px;
}

.show {
    display: flex;
    visibility: visible !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 15px;
    background: #212121;
    box-shadow: 41px 41px 82px #0d0d0d,
        -41px -41px 82px #353535;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 300px;
}

.text-container p {
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn {
    display: block;
    height: 3em;
    margin: 1em;
    border-radius: 3em;
    border: transparent;
    color: lightgray;
    font-size: medium;
    font-weight: 400;
    background: #221e22;
    box-shadow: 5px 5px 11px #151315,
        -5px -5px 11px #2f292f;
}

.btn-primary {
    max-width: 700px;
}

.correct {
    color: lightgray;
}

.wrong {
    color: rgb(95, 95, 95);
}

.btn-drive {
    visibility: hidden;
    width: 50%;
    max-width: 200px;
}

.drive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    max-width: 700px;
}